.producto
{
    background-color: #fafafa;
    border:1px solid gray;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 470px;
    padding: 5px 5px 5px 5px;
}